body {
	zoom: 0.95;
}
#searchFilter > .container {

}
.custom-container {
	max-width: 90%;
}
#hero {
	padding: 2rem 15px;
	background-color: #563d7c;
	color: #cdbfe3;
}
#hero h1 {
	color: #FFFFFF;
}
#searchFilter {
	background-color: #F5F5F5;
}

.padding {
	padding: 1em 0;
}
.mt-8 {
	margin-top: 8px;
}
.mb-16 {
	margin-bottom: 8px;
}

.positive_change {
	color: #093;
}
.negative_change {
	color: #d14836;
}

#dataTable tbody > tr > td:not(:nth-child(1)):not(:nth-child(2)) {
	text-align: right;
}
#dataTable tbody > tr > td:nth-child(1) {
	text-align: center;
}

.google-icon {
	background: url('vendors/img/google.png') center/contain;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 8px;
    margin-bottom: -3px;
}
/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  margin-bottom: 0;
  width: 80px;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 0.85em; /* Change the size of the stars */
  color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
